// Tipos de letras
$roboto: 'Roboto', sans-serif;
$anton: 'Anton', sans-serif;

// Grosor de las letas (font-weight)
$regular: 400;
$semiregular: 500;

// colors
$color-bg: #e9ffac;
$color-bg2: #f2ffc8;
$color-green: #42f4a8;
$color-grey: #ccddc1;
$color-purple:#efe7ff;
$color-green2:#0bdc84;
$color-pink:#fab39e;
$color-green3:#b2ffdd;