.main {
  min-height: 100vh;
  background-color: $color-bg2;
}
.form {
  display: flex;
  justify-content: center;
  padding-block: 2rem;
  &__input {
    width: 15rem;
    height: 3rem;
    padding-left: 1rem;
    
    @media all and (min-width: 768px) {
      width: 25rem;
    }
  }
  &__button {
    width: 8rem;
    height: 2.5rem;
    border-radius: 5rem;
    border: none;
    margin-left: 2rem;
    background-color: $color-green3;
    font-family: $roboto;
    box-shadow: 0 1px 10px 0 grey, 0 1px 3px 0 rgba(0, 0, 0, 0.35);
    cursor: pointer;
    color: grey;
    transition-duration: 0.8s;
    &:hover {
      background-color: $color-green;
      border-color: $color-green3;
    }
  }
  &__icon{
    color:grey;
  }
}

.lists {
  display: flex;
  font-family: $roboto;
  justify-content: row;
}

.containerFavs {
  min-height: 100vh;
  background-color: $color-bg;
  padding: 0.8rem;
  width: 15rem;
  margin: 1.5rem;
  box-shadow: 0 1px 10px 0 grey, 0 1px 3px 0 rgba(0, 0, 0, 0.35);
  @media all and (min-width: 768px) {
    width: 20rem;
  }
}
.titleFavs {
  display: flex;
  justify-content: space-evenly;
  width: 15rem;
  @media all and (min-width: 768px) {
    width: 20rem;
  }
  &__name {
    margin-block: 0.8rem;
    font-size: 1.3rem;
    @media all and (min-width: 768px) {
      font-size: 1.6rem;
    }
  }
  &__reset {
    padding-block: 0.2rem;
    padding-inline: 1rem;
    border-radius: 5rem;
    border: none;
    background-color: $color-green3;
    font-family: $roboto;
    box-shadow: 0 1px 10px 0 grey, 0 1px 3px 0 rgba(0, 0, 0, 0.35);
    color: grey;
    cursor: pointer;
    transition-duration: 0.8s;
    &:hover {
      background-color: $color-green;
    }
    @media all and (min-width: 768px) {
      padding-block: 0.5rem;
      padding-inline: 1.5rem;
    }
  }
}
.containerShows {
  padding-top: 2rem;
  &__list {
    font-size: 1.8rem;
    @media all and (min-width: 768px) {
      font-size: 2.5rem;
    }
  }

  @media all and (min-width: 768px) {
    padding: 1.5rem;
  }
}

.showList {
  display: inline-block;
  margin: 1rem;
  text-align: center;
  min-height: auto;
  width: 12rem;
  @media all and (min-width: 768px) {
    width: 18rem;
  }
  &__img {
    width: 10rem;
    box-shadow: 0 1px 10px 0 grey, 0 1px 3px 0 rgba(0, 0, 0, 0.35);
    cursor: pointer;
    border-radius: 0.8rem;
    transition-duration: 0.8s;
    &:hover {
      transform: scale(1.1);
      //filter: blur(2px);
    }
    @media all and (min-width: 768px) {
      width: 15rem;
    }
  }
  &__name {
    
    text-align: center;
    margin-bottom: 1.5rem;
    @media all and (min-width: 768px) {
      width: 18rem;
    }
  }
}
.colorFavs {
  background-color: $color-pink;
  color: rgb(95, 95, 95);
  border-radius: 1rem;
  margin: 0.8rem;min-height: auto;
}
